body{
    font-family:'Merriweather', serif;
    margin:0;
    text-align:center;
    color:#40514E;
  }
  h1{
    font-family:'Sacramento', cursive;
    font-size:6em;
    /* color:rgba(255, 255, 255, 0.671); */
    color: white;
  }
  h2{
    /* color:#66BFBF; */
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size:2.5em;
    font-weight:normal;
    padding-bottom:10px;
  }
 
  .top-container{
    /* background-color:#E4F9F5;  */
    /* background-color: rgb(180, 229, 241); */
    position:relative;
    background-color: black;

   
  }
  .background-image{
      position: relative;
  }
  .title-text{
      position: absolute;
      top: 100px;
      right: 250px;
      
  }
 
  .profile img{
    width:170px;
    height:150px;
    border-radius:50%;
  }
  h3{
    color: gold;
    font-family:'Montserrat', sans-serif;
  }
  hr{
    border:6px dotted blueviolet;
    width:4%;
    border-bottom:none;
    margin:100px auto;
  }
  a{
    color:black;
      font-family: 'Montserrat',sans-serif;
      margin: 10px 20px;
    text-decoration:none;
  }
  a:hover{
    color:white;
  }
  .middle-container{
      margin: 0;
    background-color: black;
  }
  .bottom-container{
    background-color:rgb(240, 191, 59);
    padding:50px 0 20px;
  }
  .skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
  }
  .pro{
    text-decoration:underline;
  }
  .code-img{
    width:25%;
    /* float:left; */
    margin-left:0px;
  }
  .intro{
    width:30%;
    margin:auto;
  }
  
  .contact-message{
    width:40%;
    margin:40px auto 60px;
  }
  .btn{
    background-color:rgb(235, 215, 166);
      border-radius: 8px;
      font-family: 'Montserrat',sans-serif;
      color: black;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
     ;
  }
  .btn:hover{
      background: lightgray;
  
  }
  p{
    line-height:2;
    color: white;
    font-size: 1.2em;
  }
  .middle-container h2{
      color: gold;
  }